In [100]:
import pandas as pd

In [101]:
train=pd.read_csv(r'C:\Users\Shivam\Desktop\Deep learning\Project\training_data.csv')
test=pd.read_csv(r'C:\Users\Shivam\Desktop\Deep learning\Project\test_data.csv')

In [102]:
train=train.drop('waterpoint_type_group',axis=1)
train=train.drop('Unnamed: 0',axis=1)
y=train['status_group']

In [103]:
y=pd.get_dummies(y)

In [104]:
train.head()

,amount_tsh,days_since_recorded,funder,gps_height,installer,basin,subvillage,population,public_meeting,scheme_management,...,permit,construction_year,extraction_type,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type,status_group
0,6000.0,995,other,1390,other,Lake Nyasa,Mnyusi B,109,True,vwc,...,False,90s,gravity,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,0.0,272,other,1399,other,Lake Victoria,Nyamara,280,Unknown,other,...,True,10s,gravity,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,25.0,281,other,686,other,Pangani,Majengo,250,True,vwc,...,True,00s,gravity,per bucket,soft,enough,dam,surface,communal standpipe multiple,functional
3,0.0,309,Unicef,263,other,Ruvuma / Southern Coast,Mahakamani,58,True,vwc,...,True,80s,submersible,never pay,soft,dry,borehole,groundwater,communal standpipe multiple,non functional
4,0.0,874,other,0,other,Lake Victoria,Kyanyamisa,0,True,other,...,True,unknown,gravity,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional

In [105]:
y.head()

   functional  functional needs repair  non functional
0           1                        0               0
1           1                        0               0
2           1                        0               0
3           0                        0               1
4           1                        0               0

In [106]:
train.apply(lambda x:len(x.unique()))

amount_tsh                98
days_since_recorded      356
funder                    11
gps_height              2428
installer                 10
basin                      9
subvillage             19288
population              1049
public_meeting             3
scheme_management         11
scheme_name             2697
permit                     3
construction_year          7
extraction_type           11
payment_type               7
water_quality              8
quantity_group             5
source_type                7
source_class               3
waterpoint_type            7
status_group               3
dtype: int64

In [107]:
train.columns

Index(['amount_tsh', 'days_since_recorded', 'funder', 'gps_height',
       'installer', 'basin', 'subvillage', 'population', 'public_meeting',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'payment_type', 'water_quality', 'quantity_group',
       'source_type', 'source_class', 'waterpoint_type', 'status_group'],
      dtype='object')

In [108]:
#Selecting columns to encode
cols_to_dummify=['funder','installer', 'basin', 'public_meeting','scheme_management', 'permit', 'construction_year','extraction_type', 'payment_type', 'water_quality', 'quantity_group','source_type', 'source_class', 'waterpoint_type', 'status_group']

In [109]:
#Dropping subvillage and scheme_name for high cardinality
train=train.drop('subvillage',axis=1)
train=train.drop('scheme_name',axis=1)

In [110]:
train.shape

(59400, 19)

In [111]:
dummy_train=pd.get_dummies(train,columns=cols_to_dummify)

In [126]:
dummy_train.shape
dummy_train.to_csv('dummified_X.csv')
y.to_csv('dummified_y.csv')

# END OF CODE
### rest is just practice code

In [113]:
#StandardScaler
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
final_data=sc_x.fit_transform(dummy_train)

In [114]:
final_data.shape

(59400, 109)

In [94]:
#sc_y=StandardScaler()
#inal_label=sc.fit_transform(y)

In [115]:
import sklearn.model_selection 
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(final_data, 
                                                                             y, 
                                                                             test_size = 0.3, 
                                                                             random_state = 0)

In [116]:
y_train

       functional  functional needs repair  non functional
44459           0                        0               1
47862           1                        0               0
799             1                        0               0
34475           1                        0               0
43873           1                        0               0
54928           0                        1               0
54057           1                        0               0
15847           1                        0               0
11406           0                        0               1
32229           0                        0               1
46605           0                        0               1
11599           0                        0               1
32707           1                        0               0
3544            1                        0               0
15301           1                        0               0
38136           1                        0               0
46332           0                        0               1
45735           1                        0               0
40499           0                        0               1
8335            0                        0               1
58537           0                        1               0
53936           0                        0               1
26517           0                        1               0
17658           1                        0               0
44139           1                        0               0
16444           1                        0               0
12062           0                        0               1
7277            1                        0               0
14515           1                        0               0
31626           1                        0               0
...           ...                      ...             ...
38984           0                        0               1
27469           0                        0               1
16921           0                        0               1
59045           0                        0               1
35665           0                        1               0
24152           0                        0               1
51374           0                        0               1
43095           0                        1               0
18983           0                        0               1
32230           1                        0               0
17089           1                        0               0
14650           1                        0               0
52620           1                        0               0
39512           1                        0               0
48600           1                        0               0
15430           0                        0               1
14935           1                        0               0
46884           0                        0               1
55026           1                        0               0
20757           0                        0               1
57043           1                        0               0
41993           1                        0               0
32103           0                        0               1
30403           1                        0               0
21243           0                        0               1
45891           1                        0               0
52416           1                        0               0
42613           1                        0               0
43567           0                        0               1
2732            0                        0               1

[41580 rows x 3 columns]

In [120]:
import sklearn.ensemble

rfc = sklearn.ensemble.RandomForestClassifier(n_estimators=50, 
                                              min_samples_split=6,
                                              max_features='auto',
                                              oob_score=True,
                                              random_state=1,
                                              n_jobs=-1)

In [121]:
rfc.fit(X_train, y_train)

print('Random Forest Classifier Train Accuracy Score :', rfc.score(X_train, y_train))
print('Random Forest Classifier Test Score :', rfc.score(X_test, y_test))

Random Forest Classifier Train Accuracy Score : 1.0
Random Forest Classifier Test Score : 1.0

In [119]:
rfc.feature_importances_

array([  7.47785487e-03,   5.53020584e-03,   4.78011404e-03,
         3.21475128e-03,   1.03332176e-04,   1.00462424e-04,
         1.26927187e-04,   1.51916456e-04,   1.52370699e-04,
         2.84638932e-04,   1.78563859e-03,   2.39263960e-04,
         1.21084059e-03,   1.86772301e-04,   2.73752854e-04,
         2.80170923e-04,   1.75006029e-04,   9.27573252e-05,
         9.92713719e-04,   6.20979369e-04,   9.12412627e-05,
         9.98180142e-05,   8.50634830e-04,   5.40401928e-04,
         9.92728359e-05,   7.00610626e-04,   6.76363387e-04,
         5.62376462e-04,   9.53538935e-04,   8.22254852e-04,
         5.57346560e-04,   4.67004965e-04,   8.42626832e-04,
         4.01299006e-04,   6.39275448e-04,   6.80805863e-04,
         3.19487976e-04,   2.41711879e-04,   4.66640539e-04,
         4.18015945e-04,   1.42814367e-04,   2.07442250e-05,
         2.90335672e-05,   1.20688735e-03,   4.48494236e-04,
         5.36743907e-04,   3.05425986e-04,   8.89134687e-04,
         8.32048921e-04,   8.29668694e-04,   4.85217865e-04,
         1.63159547e-03,   1.42785753e-03,   1.00217755e-04,
         2.13692710e-03,   1.04093058e-03,   4.28028253e-04,
         7.32574391e-04,   2.01238966e-04,   2.95817063e-03,
         1.54840699e-04,   3.53330604e-05,   4.04320689e-04,
         5.50407839e-04,   1.89239516e-03,   1.16007524e-02,
         4.21955044e-04,   2.44118249e-04,   2.17604020e-05,
         7.56115770e-04,   1.23102162e-03,   3.62404446e-03,
         2.62918451e-04,   1.25746079e-04,   1.30553261e-03,
         9.82791254e-04,   8.03329608e-05,   5.11546404e-05,
         1.86177323e-06,   1.20108082e-04,   2.73165069e-04,
         1.72689504e-04,   1.40723958e-03,   2.69259493e-03,
         3.26702396e-02,   9.43488576e-03,   1.98772933e-03,
         8.13420882e-04,   2.90933342e-04,   8.15676065e-04,
         1.64433532e-04,   4.79762951e-05,   7.64736603e-04,
         7.08947090e-04,   1.01364361e-03,   1.37667717e-03,
         8.71708717e-04,   8.86279843e-04,   4.88758591e-05,
         2.04322677e-05,   3.49662160e-03,   2.57148196e-03,
         3.43099496e-06,   2.32677616e-03,   2.78224272e-04,
         1.57661660e-02,   3.67802932e-01,   1.18179270e-01,
         3.54650348e-01])