In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import  RandomForestClassifier
# Setting up Pandas
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

In [3]:
X=pd.read_csv('train.csv')
Y=pd.read_csv('train_label.csv')
X_test=pd.read_csv('test.csv')

In [6]:
#Checking X
X.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [14]:
X['lga'].value_counts()

Njombe              2503
Arusha Rural        1252
Moshi Rural         1251
Bariadi             1177
Rungwe              1106
Kilosa              1094
Kasulu              1047
Mbozi               1034
Meru                1009
Bagamoyo             997
Singida Rural        995
Kilombero            959
Same                 877
Kibondo              874
Kyela                859
Kahama               836
Magu                 824
Kigoma Rural         824
Maswa                809
Karagwe              771
Mbinga               750
Iringa Rural         728
Serengeti            716
Lushoto              694
Namtumbo             694
Songea Rural         693
Mpanda               679
Mvomero              671
Ngara                669
Ulanga               665
                    ...
Newala               231
Bahi                 224
Kisarawe             223
Temeke               215
Rorya                210
Tarime               209
Ngorongoro           201
Kiteto               193
Shinyanga Urban      191
Monduli              189
Sumbawanga Urban     180
Singida Urban        177
Sikonge              170
Kilindi              161
Nanyumbu             158
Tabora Urban         155
Liwale               154
Ilemela              142
Mafia                132
Mtwara Urban         124
Tanga                 99
Morogoro Urban        96
Kinondoni             93
Bukoba Urban          88
Songea Urban          80
Moshi Urban           79
Kigoma Urban          71
Arusha Urban          63
Lindi Urban           21
Nyamagana              1
Name: lga, Length: 125, dtype: int64

In [4]:
#Checking Y
Y.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [10]:
X['id'].equals(Y['id'])

True

In [11]:
X.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [12]:
X['date_recorded'].head()

0    2011-03-14
1    2013-03-06
2    2013-02-25
3    2013-01-28
4    2011-07-13
Name: date_recorded, dtype: object

In [14]:
X['date_recorded']=pd.to_datetime(X['date_recorded'])

In [15]:
X['date_recorded'].head()

0   2011-03-14
1   2013-03-06
2   2013-02-25
3   2013-01-28
4   2011-07-13
Name: date_recorded, dtype: datetime64[ns]

In [18]:
X.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [19]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [21]:
features_all=list(X.columns)
def f(feature_i):
    print(X[features_all[feature_i]].head())  
interact(f, feature_i=widgets.IntSlider(min=0,max=39,step=1,value=0));

In [6]:
#Combining the training and testing data for cleaning
frame=[X,X_test]
df_total=pd.concat(frame)

In [26]:
X.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [7]:
cat_f=['quantity','management_group','management','extraction_type_class','extraction_type_group',
       'extraction_type','permit','scheme_name','scheme_management','public_meeting','ward',
       'lga','region','subvillage','basin','waterpoint_type_group','waterpoint_type','source_class',
       'source_type','source','quality_group','water_quality','payment_type','payment','wpt_name','installer'
       ,'funder','quantity_group']

for i in cat_f:
    
    df_total[i]= df_total[i].astype('category').cat.codes

In [34]:
df_total.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,1548,1390,1706,34.938093,-9.856322,45683,0,...,0,6,2,1,1,8,6,0,1,1
1,8776,0.0,2013-03-06,522,1399,610,34.698766,-2.147466,45426,0,...,2,6,2,2,2,5,3,1,1,1
2,34310,25.0,2013-02-25,924,686,2296,37.460664,-3.821329,17767,0,...,5,6,2,1,1,0,1,1,2,1
3,67743,0.0,2013-01-28,1961,263,2078,38.486161,-11.155298,45537,0,...,2,6,2,0,0,3,0,0,2,1
4,19728,0.0,2011-07-13,20,0,133,31.130847,-1.825359,43411,0,...,2,6,2,3,3,5,3,1,1,1

In [8]:
df_total['date_recorded'] = pd.to_datetime(df_total['date_recorded'])
df_total['date_recorded']=df_total['date_recorded'].astype('int64')//1e9

In [9]:
df_total['region_code']=np.log10(df_total['region_code']+1)
df_total['district_code']=np.log10(df_total['district_code']+1)
df_total['gps_height']=np.log10(df_total['gps_height']+100)
df_total['num_private']=np.log10(df_total['num_private']+1)
df_total['population']=np.log10(df_total['population']+1)
df_total['construction_year']=np.log10(df_total['construction_year']+1)

In [10]:
df_total.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,1300060800,1548,3.173186,1706,34.938093,-9.856322,45683,0.0,...,0,6,2,1,1,8,6,0,1,1
1,8776,0.0,1362528000,522,3.175802,610,34.698766,-2.147466,45426,0.0,...,2,6,2,2,2,5,3,1,1,1
2,34310,25.0,1361750400,924,2.895423,2296,37.460664,-3.821329,17767,0.0,...,5,6,2,1,1,0,1,1,2,1
3,67743,0.0,1359331200,1961,2.559907,2078,38.486161,-11.155298,45537,0.0,...,2,6,2,0,0,3,0,0,2,1
4,19728,0.0,1310515200,20,2.000000,133,31.130847,-1.825359,43411,0.0,...,2,6,2,3,3,5,3,1,1,1

In [42]:
def g(feature_i):
    plt.hist(df_total[features_all[feature_i]], 50, normed=1, facecolor='green', alpha=0.75)
    plt.show() 
    
interact(g, feature_i=widgets.IntSlider(min=0,max=39,step=1,value=0));

In [43]:
def h(min_corr):
    corr_f=df_total.corr()
    corr_f[corr_f<min_corr/100]=0
    plt.matshow(corr_f)
    plt.show()
interact(h, min_corr=widgets.IntSlider(min=50,max=99,step=1,value=70));

In [11]:
df_total.drop(['id','recorded_by','source_type','waterpoint_type_group',
            'scheme_name','extraction_type_class','quantity_group'], axis = 1, inplace = True)

In [12]:
df_total.index=range(0,len(df_total['funder']))    
df_train=df_total.loc[0:len(X['funder'])-1,:]
df_test=df_total.loc[len(X['funder']):,:]
df_train.index=X.index
df_test.index=X_test.index
len(df_test['funder'])

14850

In [18]:
Y['status_group']= Y['status_group'].astype('category').cat.codes

In [19]:
frames=[df_train,Y]
result=pd.concat(frames,axis=1)

In [20]:
result.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type,id,status_group
0,6000.0,1300060800,1548,3.173186,1706,34.938093,-9.856322,45683,0.0,1,...,2,0,6,2,1,8,0,1,69572,0
1,0.0,1362528000,522,3.175802,610,34.698766,-2.147466,45426,0.0,4,...,0,2,6,2,2,5,1,1,8776,0
2,25.0,1361750400,924,2.895423,2296,37.460664,-3.821329,17767,0.0,5,...,4,5,6,2,1,0,1,2,34310,0
3,0.0,1359331200,1961,2.559907,2078,38.486161,-11.155298,45537,0.0,7,...,0,2,6,2,0,3,0,2,67743,2
4,0.0,1310515200,20,2.000000,133,31.130847,-1.825359,43411,0.0,4,...,0,2,6,2,3,5,1,1,19728,0

In [24]:
result.corr()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type,id,status_group
amount_tsh,1.000000,-0.014629,0.009422,0.077743,0.017320,0.022134,-0.052670,0.014641,0.007353,0.013977,...,0.013623,-0.118563,0.012624,-0.023995,-0.014526,0.001201,0.034922,-0.043821,-0.005321,-0.053702
date_recorded,-0.014629,1.000000,0.038335,0.306334,0.041763,-0.048938,0.256633,-0.101630,-0.089767,-0.215408,...,0.224024,0.273204,0.000065,0.031592,0.040233,-0.054908,-0.040683,0.060015,0.003633,0.028992
funder,0.009422,0.038335,1.000000,-0.001368,0.578572,-0.041394,0.078800,0.011391,0.029169,-0.028601,...,0.034988,0.015556,-0.055772,-0.005008,-0.008510,-0.079428,0.015533,0.094482,-0.005698,-0.048814
gps_height,0.077743,0.306334,-0.001368,1.000000,0.052497,0.216609,-0.085722,0.037542,0.033226,-0.050106,...,0.137538,-0.080357,0.132507,-0.081276,-0.019034,0.098855,0.070938,-0.233108,-0.003895,-0.085293
installer,0.017320,0.041763,0.578572,0.052497,1.000000,0.003339,0.059920,0.018034,0.030041,0.012649,...,-0.009019,-0.015223,-0.010814,-0.026485,-0.007330,-0.096683,0.030321,0.073723,-0.000224,-0.028842
longitude,0.022134,-0.048938,-0.041394,0.216609,0.003339,1.000000,-0.425802,-0.017553,0.065170,0.216088,...,0.015608,-0.007441,-0.051622,-0.031906,0.015785,-0.013228,0.020594,-0.163355,-0.001348,0.004366
latitude,-0.052670,0.256633,0.078800,-0.085722,0.059920,-0.425802,1.000000,-0.061981,0.010492,-0.218502,...,-0.041983,0.145438,-0.010955,0.038672,0.117193,0.024544,-0.040928,0.160127,0.001718,-0.014547
wpt_name,0.014641,-0.101630,0.011391,0.037542,0.018034,-0.017553,-0.061981,1.000000,-0.007560,-0.016794,...,-0.047738,-0.056752,0.014123,-0.017709,0.020533,0.001727,0.013787,-0.026318,-0.001978,-0.020199
num_private,0.007353,-0.089767,0.029169,0.033226,0.030041,0.065170,0.010492,-0.007560,1.000000,0.044501,...,-0.019967,0.007234,-0.003110,-0.016323,-0.002805,0.008867,0.051974,-0.060519,0.002281,-0.013436
basin,0.013977,-0.215408,-0.028601,-0.050106,0.012649,0.216088,-0.218502,-0.016794,0.044501,1.000000,...,-0.017788,-0.029961,-0.075529,0.044721,-0.026707,-0.061457,0.031636,0.009864,-0.000070,0.043413
subvillage,0.001999,0.080625,-0.028911,0.033156,-0.014088,0.002454,-0.005571,0.091996,-0.011736,0.028352,...,0.018574,0.015730,0.021559,-0.008160,0.016267,-0.009073,-0.002484,-0.009093,-0.004928,-0.007756
region,-0.019866,0.018730,0.113942,-0.282339,0.103766,-0.142783,-0.025485,-0.043444,0.140479,-0.114880,...,-0.054115,0.056709,-0.073382,0.129883,0.034766,-0.156225,-0.010899,0.279421,-0.000275,0.091252
region_code,-0.016350,0.104330,0.020039,-0.171795,0.063816,-0.198708,-0.110806,0.041534,-0.085252,-0.094113,...,-0.006884,0.053284,-0.027070,0.077317,-0.061269,-0.133083,-0.018457,0.255051,-0.001234,0.081621
district_code,-0.033626,-0.028537,-0.034339,-0.153986,0.009976,0.168392,-0.203346,-0.017337,-0.010331,0.136534,...,0.022919,0.097703,-0.069809,0.039007,0.002556,-0.025717,-0.003854,0.060247,-0.001394,0.049166
lga,0.010315,0.052687,-0.040502,0.153605,0.049576,0.227492,-0.268503,-0.038103,-0.022987,-0.006718,...,-0.110791,-0.182848,0.016568,0.030434,0.014416,-0.065904,-0.021990,0.030154,-0.000423,0.065302
ward,0.000082,0.074815,0.028493,0.045729,0.023857,0.037340,0.007711,0.000456,0.031297,0.043126,...,-0.002807,-0.003244,-0.011287,0.001504,0.001804,-0.010149,0.030183,-0.002733,-0.002697,0.011748
population,0.053553,0.247563,0.015172,0.559273,0.068868,0.281640,-0.124117,-0.013053,0.011628,0.204770,...,0.117527,0.045033,-0.019437,-0.005558,0.054759,-0.076573,0.120583,-0.085168,0.002145,-0.051687
public_meeting,0.025911,-0.169997,0.047542,0.020121,0.030092,0.096439,-0.050904,-0.019228,0.018155,0.011811,...,-0.151477,-0.249291,0.014461,-0.107002,-0.058786,0.071583,0.006642,-0.079325,-0.001102,-0.060408
scheme_management,0.012230,0.089248,-0.009716,0.090799,0.041585,-0.068846,0.011011,-0.074191,0.003341,-0.083397,...,-0.029739,-0.073761,0.075943,-0.094358,-0.133671,0.004148,0.016637,-0.162310,0.000763,-0.057009
permit,0.022778,-0.015968,0.146746,0.052425,0.154873,0.061177,0.062545,-0.035123,0.030940,0.205931,...,-0.023266,-0.106416,-0.033782,-0.134568,-0.048034,0.067436,0.090210,-0.055982,-0.000902,-0.019728
construction_year,0.067864,0.234283,-0.021862,0.778305,0.045680,0.396672,-0.245559,0.008075,0.069261,0.268347,...,0.128348,-0.017489,0.051163,-0.007687,-0.008861,-0.007256,0.096747,-0.194060,-0.002051,-0.041215
extraction_type,-0.025091,-0.019929,-0.001906,-0.205451,0.017591,-0.027119,-0.005193,0.003236,0.018722,0.167450,...,0.000991,0.127332,-0.109225,0.158023,0.001082,-0.327352,-0.229795,0.344785,-0.001498,0.107827
extraction_type_group,-0.017738,-0.045731,0.015417,-0.226740,0.046627,-0.018322,-0.000162,0.000899,0.012709,0.189307,...,0.012976,0.151146,-0.110203,0.157439,-0.011712,-0.361300,-0.175148,0.320202,-0.001091,0.111497
management,-0.008835,0.067820,0.058194,-0.046880,-0.006668,-0.176484,0.048213,-0.051882,-0.025557,-0.061139,...,0.094224,0.047778,-0.047692,-0.017531,-0.071967,0.096661,-0.087089,0.104846,-0.004604,-0.060587
management_group,-0.001836,-0.061345,-0.044092,0.021071,-0.062312,-0.080633,-0.056396,-0.025428,-0.017421,-0.068413,...,-0.044343,-0.088186,-0.000058,-0.015640,-0.063840,0.125469,-0.103702,0.088010,-0.002640,0.029662
payment,0.013623,0.224024,0.034988,0.137538,-0.009019,0.015608,-0.041983,-0.047738,-0.019967,-0.017788,...,1.000000,0.685673,0.013556,0.097670,-0.001674,-0.082234,0.040580,-0.077278,-0.001267,-0.076992
payment_type,-0.118563,0.273204,0.015556,-0.080357,-0.015223,-0.007441,0.145438,-0.056752,0.007234,-0.029961,...,0.685673,1.000000,-0.047366,0.167419,0.006905,-0.164325,-0.037780,0.038424,-0.000443,0.055772
water_quality,0.012624,0.000065,-0.055772,0.132507,-0.010814,-0.051622,-0.010955,0.014123,-0.003110,-0.075529,...,0.013556,-0.047366,1.000000,-0.145333,-0.031869,0.083627,0.083834,-0.162096,-0.001178,-0.003094
quality_group,-0.023995,0.031592,-0.005008,-0.081276,-0.026485,-0.031906,0.038672,-0.017709,-0.016323,0.044721,...,0.097670,0.167419,-0.145333,1.000000,0.011646,-0.160597,-0.125602,0.199883,0.003657,0.153163
quantity,-0.014526,0.040233,-0.008510,-0.019034,-0.007330,0.015785,0.117193,0.020533,-0.002805,-0.026707,...,-0.001674,0.006905,-0.031869,0.011646,1.000000,-0.004138,0.117300,0.006436,-0.000993,-0.131425
source,0.001201,-0.054908,-0.079428,0.098855,-0.096683,-0.013228,0.024544,0.001727,0.008867,-0.061457,...,-0.082234,-0.164325,0.083627,-0.160597,-0.004138,1.000000,-0.202467,-0.013617,-0.001506,-0.097617
source_class,0.034922,-0.040683,0.015533,0.070938,0.030321,0.020594,-0.040928,0.013787,0.051974,0.031636,...,0.040580,-0.037780,0.083834,-0.125602,0.117300,-0.202467,1.000000,-0.339715,-0.005561,-0.026771
waterpoint_type,-0.043821,0.060015,0.094482,-0.233108,0.073723,-0.163355,0.160127,-0.026318,-0.060519,0.009864,...,-0.077278,0.038424,-0.162096,0.199883,0.006436,-0.013617,-0.339715,1.000000,-0.002371,0.206507
id,-0.005321,0.003633,-0.005698,-0.003895,-0.000224,-0.001348,0.001718,-0.001978,0.002281,-0.000070,...,-0.001267,-0.000443,-0.001178,0.003657,-0.000993,-0.001506,-0.005561,-0.002371,1.000000,0.004049
status_group,-0.053702,0.028992,-0.048814,-0.085293,-0.028842,0.004366,-0.014547,-0.020199,-0.013436,0.043413,...,-0.076992,0.055772,-0.003094,0.153163,-0.131425,-0.097617,-0.026771,0.206507,0.004049,1.000000

In [65]:
from sklearn.preprocessing import OneHotEncoder

In [66]:
OneHotEncoder?